li {
    list-style: none;
}
body{
    padding: 0px;
    margin: 0px;
}

.head{
    position: fixed;
    width: 100%;
}
.PartOne {
    background-color: #fe9f8d;
    height: 35px;
    width: 100%;
    display: flex;
    
}
.PartOne div.PartOne_left{
    margin-top: 7px;
}
.PartOne div.PartOne_left a {
    margin-left: 70px;
    color: #000000;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.PartOne div.PartOne_Right{
    margin-top: 7px;
}

.PartOne div.PartOne_Right a {
    margin-left: 800px;
    color: #17324f;
    font-size: 13px;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
   
}

.PartTwo {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    display: flex;
}
i.fa.fa-search {
    margin-top: -15px;
}

i.fa.fa-star {
    color: red;
}
i.fa.fa-user {
    color: blue;
}
.icon {
    display: flex;
    margin-top: 15px;
}


.PartTwo div.PartTwo_left {
    display: flex;
}

.PartTwo div.PartTwo_left a img {
    margin-left: 65px;
    margin-top: 20px;
    height: 35px;
}

.PartTwo div.PartTwo_right ul {
    display: flex;
    margin-left: 300px;
    margin-top: 20px;
}

.PartTwo div.PartTwo_right ul li {
    margin-left: 25px;
}

.PartTwo div.PartTwo_right ul li div.search {
    width: 145px;
    height: 25px;
    position: relative;
}

.PartTwo div.PartTwo_right ul li div.search input {
    width: 235px;
    height: 25px;
    background-color: #ececea;
    border: 1px solid black;
    font-size: 12px;
    color: black;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.PartTwo div.PartTwo_right ul li div.search span {
    background-color: white;
    position: absolute;
    top: 5px;
    left: 132px;
    margin-left: 100px;
    width: 0px;
}

.PartTwo div.PartTwo_right ul li a.icon1 {
    margin-left: 100px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.PartTwo div.PartTwo_right ul li a.icon2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.PartThere {
    background-color: #000000;
    width: 100%;
    display: flex;
    height: 45px;
}

.PartThere ul.leve2 {
    margin-left: 40px;
}
.PartThere ul.leve2 li{
    position: absolute;
}
.PartThere ul.leve2 li a.red {
    line-height: 50px;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-left: 20px;
    
}

.PartThere ul.leve2 li a.red:hover {
    color: black;
    background-color: white;
    padding: 16px 16px;
    transition: all 0.25s;
}

.PartThere ul.leve2 {
    display: flex;
    margin-top: -2px;
}

.PartThere ul.leve2 li a.red1 {
    margin-left: 30px;
    line-height: 48px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 16px;
}

.PartThere ul.leve2 li:hover a.red1 {
    color: black;
    background-color: white;
}

.PartThere ul.leve2 li {
    position: relative;
}

.PartThere ul.leve2 li ul {
    display: none;
    position: absolute;
    top: 47.5px;
    width: 180px;
    list-style: none;
    z-index: 100;
    background-color: #fce8ea;
    margin-left: 20px;
}

.PartThere ul.leve2 li ul.menu_red {
    display: none;
    position: absolute;
    top: 47.5px;
    width: 180px;
    list-style: none;
    z-index: 100;
    background-color: #fce8ea;
    margin-left: 40px;
    left: -10px;
}

.PartThere ul.leve2>li:hover ul {
    display: inherit;
}

.PartThere ul.leve2 li ul li a {
    padding: 10px 10px;
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid black;
    color: black;
    text-decoration: none;
    font-size: 13px;
    margin-left: -40px;
}

.PartThere ul.leve2 li ul li:hover a {
    color: white;
    background-color: #fe9f8d;
}

.PartThere ul.leve2 li ul li ul li {
    left: -20px;
}

.PartThere ul.leve2 li ul li ul.Menu3cap2 li {
    display: none;
}

.PartThere ul.leve2 li ul li ul.Menu3cap1 {
    width: 150px;
}

.PartThere ul.leve2 li ul li ul.Menu3cap1 li {
    display: none;
}


ul.leve2 li ul>li:hover ul.Menu3cap2 li {
    display: inherit;
}

.PartThere ul.leve2 li ul li ul.Menu3cap2 {
    width: 150px;
}
ul.leve2 li ul>li:hover ul.Menu3cap1 li {
    display: inherit;
}

.PartThere ul.leve2 li ul li ul {
    position: absolute;
    left: 180px;
    top: 0px;
}

.PartThere ul.leve2 li ul li ul.Menu3cap1 li a {
    background-color: #fce8ea;
    color: black;
}

.PartThere ul.leve2 li ul li ul.Menu3cap2 li a {
    background-color: #fce8ea;
    color: black;
}

.PartThere ul.leve2 li ul li ul.Menu3cap1 li:hover a {
    color: white;
    background-color: #fe9f8d;
}

.PartThere ul.leve2 li ul li ul.Menu3cap2 li:hover a {
    color: white;
    background-color: #fe9f8d;
}

.mySlides {
    display: none;

}
  .mySlides img {
    vertical-align: middle;
    margin-top: 30px;

  }
  
  /* Slideshow container */
  .slideshow-container {
    width: 90%;
    position: relative;
    margin-left: 60px;
    top: 100px;top: 143px;
    z-index: -1;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    margin-top: 30px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 100px;
  }
  
  .active {
    background-color: black;
  }

.partFor {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 190px;
    width: 95%;
}

.partFor p {
    margin-top: -130px;
    margin-left: 480px;
}

.PartFive {
    height: 550px;
    width: 90%;
    margin-left: 60px;
    display: flex;
    margin-top: 40px;
}

.PartSix {
    height: 550px;
    width: 90%;
    margin-left: 60px;
    display: flex;
}

a img.anh1 {
    width: 265px;
    height: 380px;
    margin-bottom: 12px;
}

a img.pic2 {
    width: 265px;
    height: 380px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    margin-left: -265px;  
}

a img.pic2:hover {
    opacity: 1;
}

.Part_Bottom p {
    margin-bottom: -5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.Part_Bottom h4 {
    margin-bottom: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -2px;
    font-size: 14px;
    font-weight: bold;
}

.Part_Bottom span {
    border: solid 1px black;
    margin-top: 10px;
    display: inline-block;
    font-size: 10px;
}

.partSenven {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.parSenven p {
    margin-top: -150px;
    margin-left: 480px;
}

.PartEight {
    display: flex;
    width: 90%;
    background-color: white;
    margin-left: 60px;
    margin-top: 30px;
}

div.Part_Left h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 8px;
    color: black;
}

.PartEight div.PartEight_Left a img {
    width: 550px;
    height: 400px;
}

.PartEight_Left h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-top: 4px;
    color: black;
}
.PartEight div.PartEight_Left span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
   
}

.PartEight div.PartEight_Right h2 {
    margin-left: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.PartEight div.PartEight_Right span {
    margin-left: 37px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.PartEight div.PartEight_Right a img {
    width: 550px;
    height: 400px;
    margin-left: 20px;
}

.PartNine {
    display: flex;
    background-color: white;
    margin-top: 30px;
    width: 90%;
    margin-left: 60px;
}

div.Part_Left h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

div.Part_Left a img {
    width: 550px;
    height: 400px;
}


div.Part_Left span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    margin-top: -5px;
}

div.Part_Right h2 {
    margin-top: 20px;
    margin-left: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    font-weight: bold;
}

div.Part_Right span {
    margin-left: 37px;
    margin-top: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

div.Part_Right a img {
    width: 550px;
    height: 400px;
    margin-left: 20px;
}

a.mua {
    margin-left: 37px;
    text-decoration: underline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


a.mua1 {
    text-decoration: underline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.PartTen {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.PartTen p {
    margin-left: 570px;
    margin-top: 20px;
}

.PartEleven {
    height: 550px;
    width: 95%;
    margin-left: 30px;
    display: flex;
}
.Part11 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Part11 p {
    margin-left: 570px;
    margin-top: 20px;
}

.Part12 {
    height: 550px;
    width: 90%;
    margin-left: 60px;
    display: flex;
    margin-top: 30px;
}

.Part13 img {
    height: 450px;
    margin-top: -85px;
    width: 90%;
    margin-left: 60px;

}

.Part14 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Part14 p {
    margin-left: 570px;
    margin-top: 20px;
}

.Part15 {
    height: 400px;
    width: 90%;
    margin-left: 60px;
    display: flex;
}

.Part16 {
    display: flex;
    width: 90%;
    background-color: white;
    margin-left: 60px;
    margin-top: 30px;
}

.Part17 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Part17 p {
    margin-left: 570px;
    margin-top: 20px;
}

.Part18 {
    height: 550px;
    width: 90%;
    margin-left: 60px;
    display: flex;
}

.Part19 {
    background-color: gainsboro;
    display: flex;
    height: 250px;
    margin-top: 25px;
}

.Part19_one {
    width: 25%;
}

.PartChung ul {
    display: flex;
    margin-left: -15px;
    margin-top: 15px;
}
.PartChung ul li {
    margin-top: 10px;
}
.PartChung ul li hr {
    width: 250px;
}

.Part19_two {
    width: 25%;
}

.Part19_three {
    width: 25%;
}

.Part19_for {
    width: 25%;
}
i.fa.fa-cc-visa {
    color: red;
}

i.fa.fa-plane {
    color: #4267b2;
}

i.fa.fa-clock-o {
    color: sandybrown;
}

i.fa.fa-headphones {
    color: brown;
}
.Part20 {
    height: 250px;
    display: flex;
}

.Left1 {
    background-color: #f2f2f2;
    width: 30%;
}

.Left1 ul {
    margin-right: 10px;
}

.Left1 ul li h4 {
    margin-top: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.Left1 ul li{
    margin-top: 10px;
}

.Left1 ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    font-size: 14px;
}

.Left1 ul li a:hover {
    background-color: black;
    color: white;
}

.Left2 {
    background-color: #f2f2f2;
    width: 35%;
}

.Left2 ul {
    margin-right: 10px;
}
.Left2 ul li{
    margin-top: 10px;
}
.Left2 ul li h4 {
    margin-top: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.Left2 ul li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    font-size: 13px;
}

.Left2 ul li a:hover {
    background-color: black;
    color: white;
}

.Right {
    background-color: #f2f2f2;
    width: 40%;
}

.Right h4 {
    margin-top: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.fa.fa-comments-o {
    font-size: 40px;
    margin-left: 150px;
    color: #4397f5;
}


.Right h5 {
    font-size: 13px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.Right img {
    height: 35px;
    width: 100px;
    margin-top: 20px;
}

i.fa.fa-facebook {
    font-size: 21px;
    background: white;
    width: 20px;
    text-align: center;
    color: #4397f5;
    margin-right: 50px;

}

i.fa.fa-youtube {
    font-size: 21px;
    background: white;
    width: 20px;
    text-align: center;
    color: red;
    margin-right: 50px;

}

i.fa.fa-twitter {
    font-size: 21px;
    background: white;
    width: 20px;
    text-align: center;
    color: #4397f5;
}

.Email {
    display: flex;
}

.Email input {
    width: 290px;
    margin-top: 5px;
    height: 28px;
}

.button1 {
    width: 130px;
    margin-top: 5px;
    height: 29px;
    font-size: 13px;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.button1:hover {
    background-color: red;
    border: 1px solid red;
}

.part21{
    height: 450px;
    width: 90%;
    margin-left: 60px;
}

.part21 img{
   height: 100%;
    width: 100%;
}
